body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 400px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    /* Blue color */
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

.result {
    color: #007bff;
    font-weight: bold;
}

.middle-line {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}